<section id="about">
    <div class="fullwidth-section" style="background-color: #FFFFFF; padding:20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6" style="margin-right: 20px; margin-top: 80px; margin-bottom: 80px;">
                    <h2 class="weight-700 kill-top-margin">Home Care</h2>
                    <h3 class="color-primary uppercase"></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non viverra mauris. Nunc dignissim nibh
                        at est tempus, id elementum magna aliquet. Phasellus volutpat nisi vitae nibh luctus tincidunt. Quisque
                        sagittis dolor eget rhoncus placerat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                        sollicitudin turpis et blandit tempor. Maecenas mattis eros a felis pretium pellentesque. In hac
                        habitasse platea dictumst. Proin suscipit, dui vitae vestibulum pharetra, enim lacus sollicitudin
                        justo, sed sollicitudin lacus eros nec risus.</p>
                    <p>Fusce lacinia eleifend tortor ac feugiat. Morbi vel sapien justo. Sed ullamcorper leo eu quam luctus
                        pellentesque. Quisque eget massa sagittis, pretium dolor pharetra, feugiat lectus. In consequat enim
                        sit amet malesuada facilisis. Vivamus condimentum ante mauris, at porta purus sodales eu. Nunc vel
                        orci rhoncus, faucibus nunc sit amet, iaculis libero. Morbi auctor in velit eget laoreet. Quisque
                        euismod dui vitae magna tempor, sed ultrices lorem varius. Praesent nec consequat arcu. Sed a nisl
                        magna. Curabitur ac ultrices leo. Duis pulvinar hendrerit dolor, ac viverra risus.</p>


                </div>
                 <div class="col-md-5" style="margin-top: 80px; margin-bottom: 80px;">
                     <img src="img/caring2.png" alt="">
                 </div>
            </div>
        </div>
    </div>

</section>


<!--<section id="">
    <div class="fullwidth-section half-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="weight-700 kill-top-margin uppercase">OUR PRACTICE</h1>
                    <h4 class="weight-400">
                        You may discover that we are very different from the average dental office. When you visit our office you will find a unique
                        and relaxing environment. Our staff is friendly and attentive to your every need. We are proud to
                        provide gentle, family-oriented dental care for all ages. Our diagnosis and treatment planning is
                        designed to create a framework that will optimize your dental health.
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="weight-700 text-uppercase text-center" style="text-transform: uppercase; font-size: 21px">
                        Our 4 Step Process Is Designed To:
                    </h4>
                </div>

            </div>
            <div class="row steps">
                <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                    <i class="fa fa-smile-o color-primary "></i>
                    <h4 class="weight-400">Alleviate Pain</h4>
                </div>
                <div class="ol-xs-12 col-sm-6 col-md-3  text-center">
                    <i class="fa fa-check-square-o color-primary"></i>
                    <h4 class="weight-400">Disease Control</h4>
                </div>
                <div class="ol-xs-12 col-sm-6 col-md-3  text-center">
                    <i class="fa fa-medkit color-primary"></i>
                    <h4 class="weight-400">Reconstruction</h4>
                </div>
                <div class="ol-xs-12 col-sm-6 col-md-3  text-center">
                    <i class="fa fa-magic color-primary"></i>
                    <h4 class="weight-400">
                        Cosmetics, with emphasis on<br> prevention and maintenance.
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="weight-400">
                        Through a combination of state of the art technology, sensible treatment plans and genuine devotion to the unique needs of
                        each patient Dr. Murdoch preserves healthy teeth and gums, alleviates oral discomfort and improves
                        the appearance of smiles on a daily basis.
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="fullwidth-section" style="padding:0;">
        <div class="parallax parallax-pane1 skrollable skrollable-before" style="background-image: url(&quot;http://wmurdochdds.com/wp-content/themes/someawesome/img/pictures/section_1.jpg&quot;); background-position: 50% 100%;"
            data-bottom-top="background-position:50% 100%" data-top-bottom="background-position:50% 0%">
        </div>
        <!--
    <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.4);">
    </div>
    -->
    <!--</div>
</section>-->