   <section id="testimonials" style="background-color: #FFFFFF">
        <div class="fullwidth-section kill-top-margin kill-bottom-padding">
            <div class="container ae">
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col-md-12 text-center">
                        <h1 class=" kill-top-margin uppercase">What our Patients say</h1>
                        <div id="owl-testimonials" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                            <!-- loading js from practicemojo-->
                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 28480px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(-2848px, 0px, 0px);">
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Really enjoy this office. Almost makes going to the dentist fun! Great, personable staff, on top of being very professional at what they do."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Anonymous </span> <span class="radbylinedate">(July 17, 2016)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"All the staff at Dr Murdock's office are always kind and considerate. Dr Murdoch always explains each situation or procedure in perfect detail in terms I can very easily understand. Love this crew."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Satisfied C </span> <span class="radbylinedate">(June 15, 2016)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Great service! Friendly and professional staff. I like the addition of the overhead TV."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Tim B </span> <span class="radbylinedate">(March 24, 2016)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"I wish the first dentist in my life was Dr. Murdoch! He is so knowledgeable, caring, genuine, and honest! The work he does is amazing! I am so grateful to have finally found such an awesome Dentist."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Pamela G </span> <span class="radbylinedate">(February 05, 2016)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"My visit was short and sweet.  I do my best to take care of my teeth and can only wish I had been more responsible when I was a kid.  Live and learn.<br>Thank you for your excellent service.<br><br>Eileen"</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Eileen </span> <span class="radbylinedate">(February 04, 2016)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote"></span><br><img src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                            <span class="radbylineauthor">Ted H </span> <span class="radbylinedate">(January 19, 2016)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Not only is the Murdoch team the most professional and courteous dental team you'll ever come across, but they are also very highly skilled.  I would recommend anyone who's nervous about getting any dental work done to come in."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">elyk l </span> <span class="radbylinedate">(January 15, 2016)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Great! Took me right away, and the procedure didn't take as long as I was expecting. Nor was it as uncomfortable. The entire office staff is pleasant and friendly. I actually enjoy going there!"</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Lorraine </span> <span class="radbylinedate">(January 09, 2016)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Dr. Murdock and his team were outstanding.  They addressed my concerns and scheduled my return visits accordingly.  Thank you for being so kind, attentive, and friendly.  You feel welcome from the moment you check in to the moment they have finished attending you.  I like the hand shake from Dr. Murdock..that's special to me."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Carmen D </span> <span class="radbylinedate">(October 23, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"I just had my teeth cleaned a week earlier than scheduled. I so appreciated being able to have the staff make accommodations for me. Thank You!"</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Melanie </span> <span class="radbylinedate">(October 16, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Dr Murdoch and staff are very professional! Clean office, friendly atmosphere, and state of the art  technology make for a pleasant experience!  Erin is a first class hygienist! Dr Murdoch doesn't pressure you to have unnecessary procedures. Great dentist!👍😄"</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Marilyn W </span> <span class="radbylinedate">(September 24, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Dr. Murdoch and all of his staff make a great team in providing me with the best dental care possible.  My involvement in the treatment plan is expected and welcomed.  Access is good and everyone has a ready smile.  I highly recommend Dr. Murdoch."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Lily </span> <span class="radbylinedate">(September 18, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Great Staff and Great Service!"</span><br><img src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                            <span class="radbylineauthor">Tim B </span> <span class="radbylinedate">(September 15, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"The staff is wonderful.  <br>The work Dr.Murdoch has done is perfect. <br><br>Thank you.<br>Maria"</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Maria F </span> <span class="radbylinedate">(August 24, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"doing great!  Thanks for the quick service!"</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Linda </span> <span class="radbylinedate">(July 29, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"BEST teeth cleaning EVER!!!  :)"</span><br><img src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                            <span class="radbylineauthor">cathy r </span> <span class="radbylinedate">(July 09, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Your new hygienist, Aaron, did a very thorough and gentle job. A very pleasant and skilled young man. I will make sure to book future cleanings with him. <br><br>I just like your office, period. I feel very safe with all of you."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">M. L </span> <span class="radbylinedate">(June 27, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Dr Murdoch provided a professional and excellent service as always. Dental hygienist Aaron also did an excellent job."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Erica Swingholm M </span> <span class="radbylinedate">(June 14, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"We appreciate your thoughtful exam of neck and face for possible tumors. this is not always done by other Dentist  Thank you  Dave &amp; Ruby Miller"</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Ruby </span> <span class="radbylinedate">(May 08, 2015)</span></span><br><br></div>
                                    </div>
                                    <div class="owl-item" style="width: 712px;">
                                        <div><span class="radquote">"Dr. Murdoch/staff are professional, kind, helpful, knowledgeable, and most importantly, they make you feel extremely comfortable.  My children go to this dentist and my daughter, who is scared of everything, had to have a cavity filled and it was a great experience."</span><br>
                                            <img
                                                src="https://www.practicemojo.com/WebObjects/PracticeMojo.woa/Frameworks/PracticeMojoBusinessLogic.framework/WebServerResources/images/review_embed/5stars.png">
                                            <span class="radstars">(5 stars)</span><br><span class="radbyline"><span class="radbylineby">by</span>                                                <span class="radbylineauthor">Anonymous </span> <span class="radbylinedate">(September 30, 2014)</span></span><br><br></div>
                                    </div>
                                </div>
                            </div>
                            <!--<script>
                        var scriptURL = "https://www.practicemojo.com/cgi-bin/WebObjects/PracticeMojo.woa/wa/EmbedReviews/Bwl4aLfsuy0";
                        document.write('\x3Cscript src="'+scriptURL+'">\x3C/script>');
                    </script>-->
                            <div class="owl-controls clickable">
                                <div class="owl-pagination">
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page active"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                    <div class="owl-page"><span class=""></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!------ testimonials js css here -->
        <script>
    (function($) { "use strict";
        
        $(document).ready(function() {
                    $("#owl-testimonials").find('script').remove();
                    jQuery( "tr.rad" ).one().unwrap().unwrap();
                    //jQuery( ".carousel-inner script" ).remove;
                    jQuery( "tr.rad" ).each(function( index ) {

                                      jQuery(this).replaceWith($('<div>' + this.innerHTML + '</div>'));

                    });
                    
                    $("#owl-testimonials").owlCarousel({
                        items: 99,
                        autoPlay : 6000,
                        stopOnHover : true,
                        navigation:false,
                        paginationSpeed : 1000,
                        goToFirstSpeed : 2000,
                        singleItem : true,
                        autoHeight : false
                    });
        });
    })(jQuery);
</script>
        <style type="text/css">
            #testimonials #owl-testimonials {
                font-family: 'Hind', sans-serif;
                margin-top: 0px;
                margin-bottom: 0;
                text-align: center;
            }
            
            #testimonials #owl-testimonials .owl-controls {
                position: absolute;
                top: -10px;
                right: 10px;
                width: 100%;
                text-align: right;
            }
            
            #testimonials #owl-testimonials .owl-wrapper {
                margin-top: 40px;
            }
            
            #testimonials #owl-testimonials div,
            #testimonial #owl-testimonials span {
                text-align: center;
            }
            
            #testimonials #owl-testimonials img {
                text-align: center;
                margin: 0 auto;
            }
            
            #testimonials #owl-testimonials span.radquote {
                font-size: 18px;
                font-weight: 400;
                margin-top: 40px;
                display: block;
            }
            
            #testimonials #owl-testimonials span.radstars {
                font-size: 12px;
                margin-top: 40px;
                display: none;
            }
            
            #testimonials #owl-testimonials span.radbyline {
                color: #777;
                font-size: 13px;
                font-weight: 400;
                line-height: 1.64285;
                margin-top: 20px;
            }
        </style>
    </section>