	<div class="container">
		<div class="row" style="margin-top: 40px;">
			<div class="col-md-3">
				<div class="icon-feature-horizontal-sm">
					<div class="icon">
						<i class="im-compass color-primary ae"></i>
					</div>
					<div class="content">
						<h4 class="uppercase weight-700">Visit our Office</h4>
						<p>
							<strong class="color-primary">William Murdoch, DDS</strong><br>
							120 E. Birch St., Suite 4<br>
                            Walla Walla, WA<br>
                            99362
						</p>
					</div>
				</div>
				<div class="icon-feature-horizontal-sm">
					<div class="icon">
						<i class="im-mail2 color-primary ae"></i>
					</div>
					<div class="content">
						<h4 class="uppercase weight-700">Call for your appointment</h4>
						<p>
							<a href="mailto:info@wmurdochdds.com">info@wmurdochdds.com</a><br>
							P: 509-522-2000<br>
							F: 509-522-0292
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="icon-feature-horizontal-sm">
					<div class="icon">
						<i class="im-clock color-primary ae"></i>
					</div>
					<div class="content">
						<h4 class="uppercase weight-700">Office Hours</h4>
						<p>
                            We have appointments available <b>Monday-Friday</b><br>
                            We offer some evening appointments to accommodate your schedule <br>
                            Emergency treatment is available on weekends<br>
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<h4 class="uppercase weight-700">Send us a message</h4>
                    <div role="form" class="wpcf7" id="wpcf7-f51-o1" lang="en-US" dir="ltr">
<div class="screen-reader-response"></div>
<form action="/#wpcf7-f51-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="51">
<input type="hidden" name="_wpcf7_version" value="4.3">
<input type="hidden" name="_wpcf7_locale" value="en_US">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f51-o1">
<input type="hidden" name="_wpnonce" value="e17de1ad52">
</div>
<div class="row">
<div class="col-md-6">
<div class="form-group">
<label>Tell us your name</label><br>
<span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" id="name" aria-required="true" aria-invalid="false"></span>
</div>
</div>
<div class="col-md-6">
<div class="form-group">
<label>What's your email address?</label><br>
<span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" id="email" aria-required="true" aria-invalid="false"></span>
</div>
</div>
</div>
<div class="row">
<div class="col-md-12">
<div class="form-group">
<label>Give us the details</label><br>
<span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="4" class="wpcf7-form-control wpcf7-textarea form-control" id="message" aria-invalid="false"></textarea></span>
</div>
   <section id="contact">
        <!-- ======================================== -->
        <!-- ============= START MAP DISPLAY ============= -->
        <!-- ======================================== -->
        <div class="fullwidth-section kill-top-padding">
            <div class="container-fluid" style="background-color:#F5F5F5">
                <div class="row" style="margin: 40px 0 20px 0">
                    <div class="col-md-12 text-center">
                        <h1 class=" kill-top-margin uppercase">Find us on the map</h1>
                        <h4 class="weight-400">Press the blue pin, click on the address, and your GPS will bring you here. We can’t wait to see
                            you!</h4>
                    </div>
                </div>
            </div>


            <div class="text-center">
                <br>
                <input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit btn btn-primary btn-round">
                <img
                    class="ajax-loader" src="http://wmurdochdds.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif"
                    alt="Sending ..." style="visibility: hidden;">
            </div>
        </div>
        </div>
        <div class="wpcf7-response-output wpcf7-display-none"></div>
        </form>
        </div>
        </div>
        </div>
        </div>
        </div>
        <!-- ======================================== -->
        <!-- ================ END MAP DISPLAY =========== -->
        <!-- ======================================== -->
    </section>



	 <div class="fullwidth-section" style="background-color: #F5F5F5; padding:0;">
        <div class="parallax parallax-pane2 skrollable skrollable-before" style="background-image: url(&quot;http://wmurdochdds.com/wp-content/themes/someawesome/img/pictures/section_2.jpg&quot;); background-position: 50% 100%;"
            data-bottom-top="background-position:50% 100%" data-top-bottom="background-position:50% 0%">
        </div>
    </div>


    <section id="appointment">
        <div class="fullwidth-section bg-dark half-padding">
            <div class="container">
                <div class="col-md-12 text-center">
                    <h2 class="color-white weight-300 kill-top-margin">Make an appointment with us today!</h2>
                    <a class="appointment-btn btn btn-primary btn-outline scrollto ae cboxElement" data-url="http://wmurdochdds.com/appointment/">Book an appointment <i class="im-redo2"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section id="forms" style="background-color: #F5F5F5">
        <div class="fullwidth-section half-padding">
            <div class="container">
                <div class="col-md-12 text-center">
                    <h1 class=" kill-top-margin uppercase">Download Patient Forms</h1>
                    <a class="forms-btn btn btn-primary btn-outline scrollto ae cboxElement" data-url="http://wmurdochdds.com/forms/">Download forms <i class="im-redo2"></i></a>
                </div>
            </div>
        </div>
    </section>

    <div class="fullwidth-section kill-top-padding kill-bottom-padding">
        <!-- parallax 3-->
        <div class="parallax parallax-pane3 skrollable skrollable-before" style="background-image: url(&quot;http://wmurdochdds.com/wp-content/themes/someawesome/img/pictures/section_3.jpg&quot;); background-position: 50% 100%;"
            data-bottom-top="background-position:50% 100%" data-top-bottom="background-position:50% 0%">
        </div>
    </div>

