<div class="container content-container">
    <h1>Join Our Team</h1>
    <form ng-submit="$ctrl.join($ctrl.user)" class="form">
        <input required type="text" class="form-control" ng-model="$ctrl.user.name" placeholder="Full Name">
        <input required type="email" class="form-control" ng-model="$ctrl.user.email" placeholder="email">
        <input required type="text" class="form-control" ng-model="$ctrl.user.address" placeholder="Address">
        <input required type="tel" class="form-control" ng-model="$ctrl.user.phone" placeholder="Phone Number">
        <textarea required type="text" class="form-control" rows="8" ng-model="$ctrl.user.resume" placeholder="Paste your Resume"></textarea>
        <button type="submit" class="btn btn-success">Submit Application</button>
    </form>
</div>