
  
    <div id="services" class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
        <h2><b>What We Do</b></h2>
        <hr>

        <p class="lead">   When my family was providing care for our loved ones, we questioned whether to hire a stranger. We wondered if our loved ones would be safe and if the person caring for them would be kind, trust worthy, and reliable?  <br>
        This is why hiring the best becomes essential. I personally interview each employee and hire them only if I feel they have these characteristics. <br>
        Our team largely consists of certified nursing assistants. We have an extensive screening process, which not only includes personal interviews, but also certifications, and background checks. </p>
      </div>
    </div>
    </div>
   
  
  
  <div id="service" class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
    <h2>Services</h2>
        <hr>

        <p class="lead"> We provide "in-home caregiving", which includes services such as cleaning, bathing, cooking, and playing games. </p>
      </div>
    </div>

    <div class="row text-center">
    <div class="col-md-4">
        <div id="care" class="row">
         
           


            <h2>Memory Impairment</h2>
            <p class="lead" >We work with patients who have Dementia or Alzheimer's. </p>
           <p></p>
            <a>
              <p class="btn" ng-click="dow = !dow">Read more...</p>
            </a>
            <div ng-show="dow">
              <p  class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta reiciendis voluptatum similique, et, fuga officia mollitia recusandae labore quas placeat accusantium consectetur doloribus, dolor nostrum ullam animi, blanditiis esse vitae!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam consequatur ipsum accusamus inventore. Illum ducimus ad rem sed reiciendis minima nam corporis, veniam, harum praesentium amet dignissimos voluptatem quasi obcaecati.</p>
            </div>
     

        </div>
      </div>

      <div class="col-md-4">
        <div id="care" class="row">
         
           


            <h2>Sensory Impairment</h2>
            <p class="lead" >We work with patients who are visually impaired and/or hearing impaired. </p>
           <p></p>
            <a>
              <p class="btn" ng-click="dow = !dow">Read more...</p>
            </a>
            <div ng-show="dow">
              <p  class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta reiciendis voluptatum similique, et, fuga officia mollitia recusandae labore quas placeat accusantium consectetur doloribus, dolor nostrum ullam animi, blanditiis esse vitae!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam consequatur ipsum accusamus inventore. Illum ducimus ad rem sed reiciendis minima nam corporis, veniam, harum praesentium amet dignissimos voluptatem quasi obcaecati.</p>
            </div>
     

        </div>
      </div>

      <div  class="col-md-4">
        <div id="care" class="row">
          
     
            <h2>Mobility</h2>
         
           <p class="lead" >We work with patients who use canes, braces, wheelchairs, and walkers.</p>
            <a>
              <p class="btn" ng-click="how = !how">Read more...</p>
            </a>
            <div ng-show="how">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque sunt nesciunt officia nobis similique fugiat et, officiis accusantium exercitationem minima reiciendis a optio voluptates inventore facere unde natus tenetur magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus obcaecati nisi, magni ab soluta nemo blanditiis odio, labore aspernatur, dolorum accusamus ratione, autem nesciunt voluptate ad distinctio eligendi quis repellat.</p>
            </div>
          
        
        </div>

      </div>
    </div>
  </div>
