#services{
   background: url('/img/caringChess.png') center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    background-attachment: fixed;
   padding-top: 5%;
   padding-bottom: 10%;
 width: 100% !important;

}
/*.module2, .module2-sm, .module2-xs {
    background-color:  white;
    padding-top: 70px;
    margin-right: -20px;
    padding-right: 0px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
#services h2{
    color: #b4a755;
     font-family: 'Slabo 27px', serif;
     margin-top: 20%;
  
}
#services p{
    margin-bottom: 30px;
     font-family: 'Slabo 27px', serif;
     margin-bottom: 20%;
    
}
#service p{
    margin-bottom: 30px;
     font-family: 'Slabo 27px', serif;
     margin-bottom: 20%;
     color: grey; 
}
#service h2{
        color: #b4a755;
     font-family: 'Slabo 27px', serif;
   
  
}
#mugs .img{
    margin-left: 0;
    margin-right: 0;
}
#services .btn{
    background: #b4a755;
    color: black;
     margin-bottom: 10%;
}
#service{
    margin-top: 15%;
}