<section id="services">
    <div class="fullwidth-section" style="background-color: transparent; margin-right: -15px;">
        <div class="services-container container">
            <div class="row" style="margin-top: 40px; margin-bottom: 40px; background: transparent; text-align: center;">

                <h1 class=" kill-top-margin uppercase">Our Services</h1>
                <h2 class="weight-400">We provide many convenient options.</h2>

            </div>
            <!-- START OF ACCORDION AND TABS -->

        </div>
    </div>



</section>








<section>
    <!-- ======================================= -->
    <!-- ========== START PARALLAX SLIDER ========== -->
    <!-- ======================================== -->
    <!-- SlidesJS Required: Start Slides -->
    <!-- The container is used to define the width of the slideshow -->
 
      

            <div id="slides" class="slides-container container" >

                <div class="parallax parallax-slide skrollable skrollable-between">
                    <div class="img-overlay-solid">


                        <div class="services row" style="text-align: center;">
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="space">
                                <i class="fa fa-blind fa-5x" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facere quam nam delectus,
                                    minima inventore atque quia temporibus facilis odit perferendis dignissimos, vero perspiciatis
                                    dolorem, omnis saepe quis, in et.</p>
                            </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="space">
                                <i class="fa fa-deaf fa-5x" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facere quam nam delectus,
                                    minima inventore atque quia temporibus facilis odit perferendis dignissimos, vero perspiciatis
                                    dolorem, omnis saepe quis, in et.</p>
                            </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="space">
                                <i class="fa fa-sign-language fa-5x" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facere quam nam delectus,
                                    minima inventore atque quia temporibus facilis odit perferendis dignissimos, vero perspiciatis
                                    dolorem, omnis saepe quis, in et.</p>
                            </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-3">
                                <div class="space"> 
                             <i class="fa fa-wheelchair-alt fa-5x" aria-hidden="true"></i>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facere quam nam delectus,
                                    minima inventore atque quia temporibus facilis odit perferendis dignissimos, vero perspiciatis
                                    dolorem, omnis saepe quis, in et.</p>
                            </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!--<div class="parallax parallax-slide skrollable skrollable-between" 
                        data-start="background-position:50% 0px" data-100p="background-position:50% 254.66666666666666px;">
                        <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
                        </div>
                        <div class="caption container">
                            <h2 class="weight-700" style="color: white; text-align: center;">Do you worry about the welfare of your parent while you're at work?</h2>
                            <h4 class="weight-400 color-white"></h4>
                            <div class="button container">
                                <!--<a class="btn btn-default callUsNow" href="tel:+1-208-000-0000">CALL US</a>-->
                <!--</div>
                        </div>

                    </div>-->

                <!--<div class="parallax parallax-slide skrollable skrollable-between" 
                        data-start="background-position:50% 0px" data-100p="background-position:50% 254.66666666666666px;">
                        <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
                        </div>
                        <div class="caption container">
                            <h2 class="weight-700" style="color: white; text-align: center;">Are you concerned about your loved ones?</h2>
                            <h4 class="weight-400 color-white"></h4>
                            <div class="button container">
                                <!--<a class="btn btn-default callUsNow" href="tel:+1-208-000-0000">CALL US</a>-->
                <!--</div>
                        </div>

                    </div>-->

                <!--<div class="parallax parallax-slide skrollable skrollable-between"
                        data-start="background-position:50% 0px" data-100p="background-position:50% 254.66666666666666px;">
                        <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
                        </div>
                        <div class="caption container">
                            <h2 class="weight-700" style="color: white; text-align: center;">Do you need a break?</h2>
                            <h4 class="weight-400 color-white"></h4>
                            <div class="button container">
                                <!--<a class="btn btn-default callUsNow" href="tel:+1-208-000-0000">CALL US</a>      -->
                <!--</div>
                        </div>

                    </div>-->

                <!--<div class="parallax parallax-slide skrollable skrollable-between" 
                        data-start="background-position:50% 0px" data-100p="background-position:50% 254.66666666666666px;">
                        <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
                        </div>
                        <div class="caption container">
                            <h2 class="weight-700" style="color: white; text-align: center;">Who can you trust?</h2>
                            <h4 class="weight-400 color-white"></h4>
                            <div class="button container">
                                <!--<a class="btn btn-default callUsNow" href="tel:+1-208-000-0000">CALL US</a>           -->
            </div>
  
  
    <!--<nav class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
        </nav>
        <nav class="slides-pagination"><a href="#1" class="">1</a><a href="#2" class="">2</a><a href="#3" class="current">3</a><a href="#4" class="">4</a>
            <a href="#5" class="">5</a>
        </nav>-->
 
    <!-- End SlidesJS Required: Start Slides -->
    <!-- ======================================= -->
    <!-- ========== END PARALLAX SLIDER ========== -->
    <!-- ======================================== -->
    <div id="philosophy" class="fullwidth-section kill-top-padding kill-bottom-padding" >
        <div class="container">
            <div class="row">


                <!--<div class="col-md-5 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <img src="../img/caring1.png" class="img-responsive">
			</div>-->
                <div class="col-md-7 col-sm-12">
                    <h1 class="color-primary">
                        Our Philosophy </h1>
                    <h4 class="weight-400">
                        We believe .......... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum cumque consequatur quidem optio,
                        eos laboriosam. Molestias ea maiores porro fugiat praesentium expedita beatae, fugit fuga, accusantium
                        sapiente delectus tenetur, deleniti? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe
                        ad laudantium fuga doloribus nobis placeat pariatur, voluptatibus inventore. Explicabo illo perferendis
                        expedita laborum accusantium doloremque commodi ab ipsa consequatur recusandae.</h4>
                    <!--<h5 class="">- Todd Bryant, Dentist</h5>-->
                </div>
            </div>
        </div>
    </div>
</section>