   <section id="services">
        <div class="fullwidth-section" style="background-color: #F5F5F5">
            <div class="container">
                <div class="row" style="margin-bottom: 40px;">
                    <div class="col-md-6">
                        <h1 class=" kill-top-margin uppercase">Our Services</h1>
                        <h4 class="weight-400">We provide many comprehensive treatments that will leave you with a bright, beautiful and healthy
                            smile.</h4>
                    </div>
                </div>
                <!-- START OF ACCORDION AND TABS -->
                <div class="row">
                    <div class="col-md-5">
                        <style>
                            .panel-title::after {
                                /*disabling arrow in accordion-delete this*/
                                content: "";
                            }
                        </style>
                        <div id="accordion" class="panel-group">
                            <div class="panel panel-default">
                                <!--						<a data-parent="#accordion" data-toggle="collapse" href="#one">-->
                                <div class="panel-heading">
                                    <h5 class="panel-title"><i class="fa fa-medkit"></i>Preventive Dentistry</h5>
                                </div>
                                <!--						</a>-->
                                <div id="one" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac urna in
                                            dolor mollis tincidunt. Nulla eleifend nisl non viverra ornare. In cursus a urna
                                            non dapibus. In auctor mattis placerat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <!--                        <a  data-parent="#accordion" data-toggle="collapse" href="#two">-->
                                <div class="panel-heading">
                                    <h5 class="panel-title"><i class="fa fa-diamond"></i>Cosmetic Bonding</h5>
                                </div>
                                <!--						</a>-->
                                <div id="two" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac urna in
                                            dolor mollis tincidunt. Nulla eleifend nisl non viverra ornare. In cursus a urna
                                            non dapibus. In auctor mattis placerat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <!--						<a data-parent="#accordion" data-toggle="collapse" href="#three">-->
                                <div class="panel-heading">
                                    <h5 class="panel-title"><i class="fa fa-plus-square"></i>Sealants</h5>
                                </div>
                                <!--						</a>-->
                                <div id="three" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac urna in
                                            dolor mollis tincidunt. Nulla eleifend nisl non viverra ornare. In cursus a urna
                                            non dapibus. In auctor mattis placerat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <!--						<a data-parent="#accordion" data-toggle="collapse" href="#four">-->
                                <div class="panel-heading">
                                    <h5 class="panel-title"><i class="fa fa-smile-o"></i>Tooth Whitening</h5>
                                </div>
                                <!--						</a>-->
                                <div id="four" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac urna in
                                            dolor mollis tincidunt. Nulla eleifend nisl non viverra ornare. In cursus a urna
                                            non dapibus. In auctor mattis placerat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <!--						<a data-parent="#accordion" data-toggle="collapse" href="#five">-->
                                <div class="panel-heading">
                                    <h5 class="panel-title"><i class="fa fa-eyedropper"></i>Composite Fillings</h5>
                                </div>
                                <!--						</a>-->
                                <div id="five" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac urna in
                                            dolor mollis tincidunt. Nulla eleifend nisl non viverra ornare. In cursus a urna
                                            non dapibus. In auctor mattis placerat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <!--						<a data-parent="#accordion" data-toggle="collapse" href="#six">-->
                                <div class="panel-heading">
                                    <h5 class="panel-title"><i class="fa fa-user-md"></i>Root Canal Therapy</h5>
                                </div>
                                <!--						</a>-->
                                <div id="six" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac urna in
                                            dolor mollis tincidunt. Nulla eleifend nisl non viverra ornare. In cursus a urna
                                            non dapibus. In auctor mattis placerat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <!--						<a data-parent="#accordion" data-toggle="collapse" href="#seven">-->
                                <div class="panel-heading">
                                    <h5 class="panel-title"><i class="fa fa-hospital-o"></i>Oral Surgery</h5>
                                </div>
                                <!--						</a>-->
                                <div id="seven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac urna in
                                            dolor mollis tincidunt. Nulla eleifend nisl non viverra ornare. In cursus a urna
                                            non dapibus. In auctor mattis placerat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <!--						<a data-parent="#accordion" data-toggle="collapse" href="#eight">-->
                                <div class="panel-heading">
                                    <h5 class="panel-title"><i class="fa fa-heart"></i>Crowns, Bridges and Veneers</h5>
                                </div>
                                <!--						</a>-->
                                <div id="eight" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac urna in
                                            dolor mollis tincidunt. Nulla eleifend nisl non viverra ornare. In cursus a urna
                                            non dapibus. In auctor mattis placerat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <!--						<a data-parent="#accordion" data-toggle="collapse" href="#nine">-->
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td style="vertical-align:middle"><i class="fa fa-stethoscope"></i></td>
                                                    <td style="vertical-align:middle;"><span style="position: relative;top:3px;">Dental Cleaning including Periodontal Treatment</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </h5>
                                </div>
                                <!--						</a>-->
                                <div id="nine" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac vehicula tortor, vitae lacinia nisi. Mauris ac urna in
                                            dolor mollis tincidunt. Nulla eleifend nisl non viverra ornare. In cursus a urna
                                            non dapibus. In auctor mattis placerat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <ul id="tabs" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#tab1">
                                    <h5>Composite</h5>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab2">
                                    <h5>Cosmetic 1</h5>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab3">
                                    <h5>Cosmetic 2</h5>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab4">
                                    <h5>Crown/Bridge</h5>
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img class="img-responsive img-center" alt="" src="http://wmurdochdds.com/wp-content/themes/someawesome/img/services/SMcompositebefore.jpg">
                                    <h5 class="text-center">Before</h5>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img class="img-responsive img-center" alt="" src="http://wmurdochdds.com/wp-content/themes/someawesome/img/services/SMcompositeafter.jpg">
                                    <h5 class="text-center">After</h5>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane fade row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img class="img-responsive img-center" alt="" src="http://wmurdochdds.com/wp-content/themes/someawesome/img/services/CTBcosmeticbefore.jpg">
                                    <h5 class="text-center">Before</h5>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img class="img-responsive img-center" alt="" src="http://wmurdochdds.com/wp-content/themes/someawesome/img/services/CTBcosmeticafter.jpg">
                                    <h5 class="text-center">After</h5>
                                </div>
                            </div>

                            <div id="tab3" class="tab-pane fade row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img class="img-responsive img-center" alt="" src="http://wmurdochdds.com/wp-content/themes/someawesome/img/services/CTBcosmetic2before.jpg">
                                    <h5 class="text-center">Before</h5>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img class="img-responsive img-center" alt="" src="http://wmurdochdds.com/wp-content/themes/someawesome/img/services/CTBcosmetic2after.jpg">
                                    <h5 class="text-center">After</h5>
                                </div>
                            </div>

                            <div id="tab4" class="tab-pane fade row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img class="img-responsive img-center" alt="" src="http://wmurdochdds.com/wp-content/themes/someawesome/img/services/PMcrownbridgebefore.jpg">
                                    <h5 class="text-center">Before</h5>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img class="img-responsive img-center" alt="" src="http://wmurdochdds.com/wp-content/themes/someawesome/img/services/PMcrownbridgeafter.jpg">
                                    <h5 class="text-center">After</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- END OF ACCORDION AND TABS -->
            </div>
        </div>



    </section>








    <section>
        <!-- ======================================= -->
        <!-- ========== START PARALLAX SLIDER ========== -->
        <!-- ======================================== -->
        <!-- SlidesJS Required: Start Slides -->
        <!-- The container is used to define the width of the slideshow -->
        <div id="slides" style="position: relative; overflow: hidden; width: 100%; height: 764px;">
            <div class="slides-control">

                <div class="slides-container" style="margin: 0px; padding: 0px; list-style: none; position: relative; height: 100%;">

                    <div class="parallax parallax-slide skrollable skrollable-between" data-start="background-position:50% 0px" data-100p="background-position:50% 254.66666666666666px;">
                        <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
                        </div>
                   

                    </div>

                    <!--<div class="parallax parallax-slide skrollable skrollable-between" 
                        data-start="background-position:50% 0px" data-100p="background-position:50% 254.66666666666666px;">
                        <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
                        </div>
                        <div class="caption container">
                            <h2 class="weight-700" style="color: white; text-align: center;">Do you worry about the welfare of your parent while you're at work?</h2>
                            <h4 class="weight-400 color-white"></h4>
                            <div class="button container">
                                <!--<a class="btn btn-default callUsNow" href="tel:+1-208-000-0000">CALL US</a>-->
                    <!--</div>
                        </div>

                    </div>-->

                    <!--<div class="parallax parallax-slide skrollable skrollable-between" 
                        data-start="background-position:50% 0px" data-100p="background-position:50% 254.66666666666666px;">
                        <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
                        </div>
                        <div class="caption container">
                            <h2 class="weight-700" style="color: white; text-align: center;">Are you concerned about your loved ones?</h2>
                            <h4 class="weight-400 color-white"></h4>
                            <div class="button container">
                                <!--<a class="btn btn-default callUsNow" href="tel:+1-208-000-0000">CALL US</a>-->
                    <!--</div>
                        </div>

                    </div>-->

                    <!--<div class="parallax parallax-slide skrollable skrollable-between"
                        data-start="background-position:50% 0px" data-100p="background-position:50% 254.66666666666666px;">
                        <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
                        </div>
                        <div class="caption container">
                            <h2 class="weight-700" style="color: white; text-align: center;">Do you need a break?</h2>
                            <h4 class="weight-400 color-white"></h4>
                            <div class="button container">
                                <!--<a class="btn btn-default callUsNow" href="tel:+1-208-000-0000">CALL US</a>      -->
                    <!--</div>
                        </div>

                    </div>-->

                    <!--<div class="parallax parallax-slide skrollable skrollable-between" 
                        data-start="background-position:50% 0px" data-100p="background-position:50% 254.66666666666666px;">
                        <div class="img-overlay-solid" style="background-color:rgba(0,0,0,0.3);">
                        </div>
                        <div class="caption container">
                            <h2 class="weight-700" style="color: white; text-align: center;">Who can you trust?</h2>
                            <h4 class="weight-400 color-white"></h4>
                            <div class="button container">
                                <!--<a class="btn btn-default callUsNow" href="tel:+1-208-000-0000">CALL US</a>           -->
                </div>
            </div>

        </div>
        </div>
        </div>
        <nav class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
        </nav>
        <nav class="slides-pagination"><a href="#1" class="">1</a><a href="#2" class="">2</a><a href="#3" class="current">3</a><a href="#4" class="">4</a>
            <a href="#5" class="">5</a>
        </nav>
        </div>
        <!-- End SlidesJS Required: Start Slides -->
        <!-- ======================================= -->
        <!-- ========== END PARALLAX SLIDER ========== -->
        <!-- ======================================== -->
        <div class="fullwidth-section kill-top-padding kill-bottom-padding" style="background-color: #F7F7F7;">
            <div class="container">
                <div class="row">


                    <!--<div class="col-md-5 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <img src="../img/caring1.png" class="img-responsive">
			</div>-->
                    <div class="col-md-7 col-sm-12">
                        <h1 class="color-primary">
                            Our Philosophy </h1>
                        <h4 class="weight-400">
                            We believe .......... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum cumque consequatur quidem optio,
                            eos laboriosam. Molestias ea maiores porro fugiat praesentium expedita beatae, fugit fuga, accusantium
                            sapiente delectus tenetur, deleniti? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Saepe ad laudantium fuga doloribus nobis placeat pariatur, voluptatibus inventore. Explicabo
                            illo perferendis expedita laborum accusantium doloremque commodi ab ipsa consequatur recusandae.</h4>
                        <!--<h5 class="">- Todd Bryant, Dentist</h5>-->
                    </div>
                </div>
            </div>
        </div>
    </section>


